<div class="row justify-content-center">
  <div class="card border-info edit-card mb-3">
    <div class="card-header doc-header text-center">Editing Document</div>

    <div class="card-body">
      <%= render 'form', document: @document %>
    </div>
  </div>
</div>
<div class="text-center">
  <div class="option-links">
    <%= link_to 'Show', @document %> |
    <%= link_to 'Back', documents_path %>
  </div>
</div>