<div class="row justify-content-center">
  <div class="card new-card main-card-style border-info mb-3">
    <div class="card-header doc-header text-center">New Document</div>
    <div class="card-body">
      <%= render 'form', document: @document %>
    </div>
  </div>
</div>
<div class="text-center">
  <div class="option-links">
    <%= link_to 'Back', documents_path %>
  </div>
</div>
