// Place all the styles related to the documents controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.doc-title {
  text-align: center;
  color: #005389;
}

.doc-header {
  color: rgb(95, 150, 183) !important;
}

.doc-table th {
  padding: 10px;
}

.attr-display {
  display: inline-block;
}

.new-doc {
  margin: 5px;
}

.option-links {
  display: inline-block;
}

.fa-trash {
  font-size: large !important;
}

.field input {
  float: right;
}
.field label {
  float: left;
  padding-left: 12%;
}

.doc-title-name {
  text-align: center;
  font-size: inherit;
  color: #005389;
}

.field {
  width: 90%;
  display: flow-root;
}

//.index-card {
//  background-color: #dcecf185;
//  padding: 20px;
//}

.main-card-style {
  margin-top: 2%;
  width: 40%
}


.new-card {
  width: 32%;
}

.search-card {
  width: 30%;
}

.edit-card {
  width: 30%;
}

.view-download-options {
  display:inline-block;
  width:50%;
}


//links

a {
  color: rgb(127, 173, 201) !important;
}

a:visited {
  color: #0b38a2;
}

a:hover {
  color: antiquewhite;
}

.btn-link {
  color: rgb(127, 173, 201) !important;
}

//.btn-link:hover

//.back-link
.actions input{
  padding: 6px 10px;
  margin-top: 12px;
  background-color: rgb(231, 242, 248);
  border-radius: 20px;
}

.select2 {
  width: 80% !important;
}

.tag-search {
  margin-bottom: 4%;
  width: 100%;
  display: inline-block;
}

.tags-field-submit {
  border-radius: 20px;
  background-color: rgb(231, 242, 248);
}

.metadata-submit {
  border-radius: 20px;
  background-color: rgb(231, 242, 248);
  margin-bottom: 5%;
}

.document-search {
  display: inline-block !important;
  margin-bottom: 10px;
}

.back-to-index {
  display: inline-block;
}

.file-upload {
  display: inline-block;
}

.submit-button {
  display: inline-block;
}

.doc-search-results {
  display: inline-block;
  text-align: left;
}

//bootstrap overrides

.card-body {
  padding-bottom: 0 !important;
  background-color: rgb(200, 224, 238) !important;
}

.card-header {
  font-size: x-large;
  color: antiquewhite;
}

#notice {
  display:inline-block;
  padding-bottom: 20px;
}

//#file-upload-field input {
  //border-radius: 20px;
//}