// Place all the styles related to the documents controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.doc-title {
  text-align: center;
  color: #005389;
}

.doc-header {
  color: #0072bc;
}

.doc-table th {
  padding: 10px;
}

.new-doc {
  margin: 5px;
}

.option-links {
  display: inline-block;
}

.field input {
  float: right;
}

.doc-title-name {
  text-align: center;
  font-size: inherit;
  color: #005389;
}

.actions input {
  margin-top: 12px;
  background-color: #00538926;
}

.index-card {
  background-color: #dcecf185;
  padding: 20px;
}

.edit-card {
  background-color: #dcecf185;
  padding: 20px;
  width: 28%;
}

.new-card {
  background-color: #dcecf185;
  padding: 20px;
  width: 28%;
}

.search-card {
  background-color: #dcecf185;
  padding: 20px;
  width: 28%;
}

//links

a {
  color: #0072bcad;
}

a:visited {
  color: #0da9ef;
}

a:hover {
  background-color: #999999;
}

.back-link{
  padding: 15px;
}

.select2 {
  width: 80% !important;
}

.tag-search {
  margin-bottom: 4%;
  width: 100%;
  display: inline-block;
}

.document-search {
  display: inline-block !important;
  margin-bottom: 10px;
}

.back-to-index {
  display: inline-block;
}

.file-upload {
  display: inline-block;
}

.submit-button {
  display: inline-block;
}

.doc-search-results {
  display: inline-block;
  text-align: left;
}